<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PAII</title>
<link rel="stylesheet" href="/static/css/nav.css">
<link rel="stylesheet" href="/static/css/stylesheet.css">
<script src="https://kit.fontawesome.com/f27924dc64.js" crossorigin="anonymous"></script>