<nav>
    <style>
        li a{
            text-decoration: none;
            color: black;
        }
    </style>
    <ul>
        <li class="logo">
            <img style="border-radius: 100px;" src="/static/images/logo.jpg" alt="" width="50px">
        </li>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/catalogo">Catálogo</a>
        </li>
        
    </ul>
</nav>