<nav>
    <ul>
        <li class="logo">
            <img src="/static/images/logo.png" alt="" width="50px">
        </li>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/catalogo">Catálogo</a>
        </li>
        <li>
            <a href="">Carrito</a>
        </li>
    </ul>
</nav>