.buscador{
    width: 500px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

input{
    width: 450px;
    height: 30px;
    border-radius: 5px;
}

.catalogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opciones{
    display: flex;
    gap: 50px;
    margin: 5px 0;
}

.opciones_pasteles{
    width: 450px;
    height: 150px;
    border-radius: 25px;
    background-color: #CB6CE6;
}

.opciones_pasteles:hover{
    transform: scale(1.02);
}