<!DOCTYPE html>
<html lang="es">
    <head> 
        <%- include('../partials/header.ejs'); %>
        <link rel="stylesheet" href="static/css/admin/admin.css">
    </head>
    <body>
        <%- include('../partials/nav.ejs'); %>
        <center>
            <h1>Panel de Control</h1>
        </center>
        <section>
            <div class="menu">
                <div class="opciones">
                    <a href="/pasteles">
                        <div class="botones" id="pasteles">
                            <img src="static/images/admin/pastel.png" alt="Pastel" width="100px">
                            <h3>
                                Pasteles
                            </h3>
                        </div>
                    </a>
                    <a href="">
                        <div class="botones" id="clientes">
                            <img src="static/images/admin/clientes.png" alt="Clientes" width="100px">
                            <h3>
                                Clientes
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="opciones">
                    <a href="">
                        <div class="botones" id="configuracion">
                            <img src="static/images/admin/proceso.png" alt="Configuración" width="100px">
                            <h3>
                                Configuración
                            </h3>
                        </div>
                    </a>
                    <a href="">
                        <div class="botones" id="opciones">
                            <img src="static/images/admin/opciones.png" alt="Pedidos" width="100px">
                            <h3>
                                Pedidos
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </body>
</html>