<!DOCTYPE html>
<html lang="es">
    <head> 
        <%- include('../partials/header.ejs'); %>
        <link rel="stylesheet" href="static/css/producto.css">
    </head>
    <body>
        <%- include('../partials/nav.ejs'); %>
        <section>
            <center>
                <h1>Producto</h1>
            </center>
            <div class="sect">
                <form action="">
                    <div class="cont_form">
                        <div class="producto">
                            <div>
                                <label for="producto">Producto:</label>
                                <input type="text">
                            </div>
                            <div style="display: flex; flex-direction: column;">
                                <label for="descripcion">Descripción:</label>
                                <textarea name="" id="" cols="30" rows="7"></textarea>
                            </div>
                            <div>
                                <label for="cantidad">Catidad:</label>
                                <input type="number">
                            </div>
                            <center>
                                <button type="input">Realizar Pedido</button>
                            </center>
                        </div>
                        <div class="form_contenido">
                            <div>                            
                                <div class="imagen">
                                    <div class="img"></div>
                                </div>
                            </div>
                        </div>
                    </div>          
                </form>
            </div>
        </section>
    </body>
</html>