<!DOCTYPE html>
<html lang="es">
    <head> 
        <%- include('../partials/header.ejs'); %>
        <link rel="stylesheet" href="static/css/vista_producto.css">
    </head>
    <body>
        <%- include('../partials/nav.ejs'); %>
       
    </body>
</html>